html {
    scroll-behavior: smooth;
}

body {
	background-color: rgb(231, 231, 231);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #292729;
}

::-webkit-scrollbar {
    width: 15px;
    border-radius: 5px;
    background-color: #252525;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: linear-gradient(45deg, #a3a0a1, #59575f);
}